<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table border="1" style="width:300px">

    <tr>
        <th>Id</th>
        <th>NickName</th>
        <th>Email</th>
        <th>Password</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getNickName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td>
            <form th:action="@{/edit}" th:method="post" th:object="${user}">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form th:action="@{/{id}/delete (id=${user.getId()})}" th:method="get">
                <button type="submit">Delete</button>
            </form>
        </td>

    </tr>
</table>

<br/>

<form th:action="@{/addNewUserButton}" th:method="post">
    <button type="submit">Add new user</button>
</form></body>
</html>